body {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.7em;
    margin: 0;

}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p {
    margin-bottom: 1.6em;
}

.container{
    width: 85%;
    max-width: 1350px;
    margin: 0 auto;
}

.header{
    background: #333;
    color: white;
    padding: 1.8rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
  .header a {
      
      color: rgb(247, 247, 247);
      text-decoration: none;
  }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    letter-spacing: 8.5px;
    font-size: 2em;
    padding: 0rem 3.5rem;

}

.navigation ul{
    margin: 0;
    padding-left: 65px;
    list-style: none;
    text-align: center;
    

}

  .navigation ul li{
      display: inline-block;

  }

  
  .navigation ul li a{
      display: block;
      padding: 0.5rem 4.5rem;
      transition: all 0.4s linear;
      border-radius: 5px;
      font-size: 25px;

      /*subrayado*/

  }
  
  .navigation ul li:hover{
      background: rgb(73, 72, 72);
  }
.navigation ul li:after{

    content: "";
    width: 0%;
    height: 2px;
    background: rgb(236, 228, 228);
    display: block;
    margin: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

}

.navigation ul li:hover:after{
 width:100%
}


.main{
    padding-top: 5rem;
}

.footer{
    background: rgb(31, 30, 30);
    padding: 1.2rem 0;
    margin-top: 6rem;
}

.footer a{
    color: rgb(253, 253, 253);
    text-decoration: none;
}

.footer-page{
    display:flex;
    justify-content: space-between;
}

.footer-page ul{

 margin:0;
 padding-left: 0%;
 list-style: none;
 text-align: center;

}

.footer-page ul li{
    display: inline-block;
}

.footer-page ul li a{
    color: rgb(192, 192, 192);
    display: block;
    margin-left: 25px;
    padding: 0.4rem 4.5rem;
   
    transition: all 0.4s linear;
    border-radius: 5px;
    font-size: 20px;
}

.footer-page ul li a:hover{
    background: rgb(70, 69, 69);
}


